#myTopnav {
      margin: 0 auto;
      width: 75%;
      margin-left: 16vw;
}
    nav {
      margin-top: 0px;
      display: flex;
      flex-wrap:wrap;
      width: 100%;
      padding: 10px;
    
      border: none;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      display: table-cell;
      margin: 0;
      text-align: center;
    }
    
    nav li a {
      padding:  25px;
      text-decoration: none;
      font-weight: bold;
      font-family: Verdana, Sans-Serif;
      font-size: 1em;
      color: Black;
      border-bottom: 0.1em grey;
      
    }

    nav li a:hover {
      background: grey;
      transition: .25s ease-in-out;
      opacity: 0.7;
    }
	
.active {
     background-color: green;
     color: blue;
}

p {
	font-family: roboto, Sans-Serif;
	color: white;
	text-align: center;
}

h1 {
	font-family: roboto, Sans-Serif;
	color: white;
	text-align: center;
	font-size: 30px;
}
.text {
	font-family: Roboto, Sans-Serif;
	text-align: center;
	color: black;
	font-size: 50px;
	margin-top: 10px;
}

.blank {
	height: 10vh;
	background-color: transparent;
}

.black {
	background-color: grey;
	height: 125vh;
	width: 100%;
    box-shadow: -10px -20px 20px black;
    display: flex;
    flex-wrap: wrap;
}

.little {
	background-color: grey;
	height: 70%;
	width: 33%;
}

.margin {
	margin: auto;
	border: 2px solid grey;
	background-color: transparent;
	height: 70%;
	width: 80%;
}

.margin2 {
	margin: auto;
	border: 2px solid black;
	background-color: green;
	height: 25%;
	width: 80%;
}

.box {
	margin: auto;
	border: 2px solid black;
	background-color: green;
}

.t_color {
	color: #DF0101;
}
